@page "/"

<PageTitle>Home</PageTitle>

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nightwish</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Nightwish</h1>
        <p>Symfoniczny metal z Finlandii</p>
    </header>
    <main>
        <div class="main-flex">
            <div class="main-content">
                <section>
                    <h2>O zespole</h2>
                    <p>
                        Nightwish to wywodzący się z Finlandii zespół muzyczny, który powstał w 1996 roku. Już od początku ich brzmienie przyciągało uwagę nietypowym połączeniem cięższych, gitarowych riffów z bogatą, filmową oprawą orkiestrową.<br>
                    <p></p>
                    Przez pierwsze pięć albumów charakterystycznym elementem stylu Nightwisha był operowy wokal Tarji Turunen, którego dramatyczna i pełna ekspresji barwa stała się niemal synonimem ich muzyki. Po odejściu Turunen w 2005 roku jej miejsce zajęła Anette Olzon, której lżejszy, lecz wciąż silnie zarysowany sopranu ton nadał muzyce zespołu nieco inny koloryt na dwóch kolejnych płytach. Od 2013 roku wokalistką jest Floor Jansen – pochodzi z Holandii i począwszy od ósmego albumu wnosi do kompozycji nie tylko swoje wszechstronne wokalne umiejętności (umiejętność przechodzenia od subtelnych, czystych partii sopranowych do agresywnego beltingu), lecz także szersze inspiracje sceną rockowo-metalową.<br><p></p>
                    Kompozycje Nightwisha cechuje mieszanka metalowego fundamentu i elementów orkiestralnych. Początkowo za tworzenie orkiestralnej części aranżacji odpowiadały głównie instrumenty klawiszowe (syntezatory i sample symfoniczne), które Tuomas Holopainen - lider, główny kompozytor i autor większości tekstów, wykorzystywał do budowania epickiego tła. Punkt zwrotny nastąpił wraz z wydaniem albumu Century Child w 2002 roku, kiedy to Finowie zdecydowali się na współpracę z pełnowymiarową orkiestrą symfoniczną. Takie połączenie żywych instrumentów smyczkowych, dętych oraz chórów spotkalo sie z ich agresywnymi gitarowymi riffami, tworząc brzmienie rozciągające się od spokojniejszych, balladowych fragmentów po monumentalne, epickie brzmienia.<br><p></p>
                    Od tamtej pory orkiestra symfoniczna stała się integralnym elementem kompozycji zarówno w studiu, jak i na scenie. Podczas tras koncertowych niejednokrotnie towarzyszyli im instrumentaliści klasyczni. Oprócz tego w twórczości Nightwisha istotną rolę odgrywają różnorodne chóry - od męskich, budujących potęgę i mrok, po żeńskie, nadające utworom eterycznego charakteru.
                    </p>
                    <div class="paragraph-break"></div>
                </section>
                <section>
                    <h2>Muzyczne inspiracje</h2>
                    <p>
                        Muzyka Nightwisha jest osadzona w literackich i filmowych inspiracjach. Tuomas Holopainen, jako główny twórca zespołu, często czerpie z klasyki literatury fantasy oraz mitologii. Teksty utworów są pełne odniesień do baśniowych światów, epickich bitew i refleksji nad ludzką naturą. Wiele z nich ma charakter narracyjny, co sprawia, że słuchacz może poczuć się jakby uczestniczył w opowieści.<br>
                    <p></p>
                    Dodatkowym, wyjątkowo interesującym akcentem są elementy folkowe, które pojawiają się sporadycznie, lecz wprowadzają do ich muzyki klimat nordyckich legend. Na niektórych płytach słychać instrumenty typu bodhrán czy irlandzki flet — co wzmacnia wrażenie, że teksty Holopainena, osadzone w inspiracjach mitologią i fantastyką, przenikają się z brzmieniem o celtyckim zabarwieniu.<br><p></p>
                    Tuomas Holopainen przez lata wykreował w swojej twórczości osobny, rozpoznawalny styl, określany przez niego samego jako „metal symfoniczny”. To określenie trafnie ukazuje zamiar zespołu: stworzyć muzykę, w której ciężar i energia metalu jednoczą się z epicką rozpiętością orkiestry i chóru. Holopainen nie tylko komponuje główne motywy, lecz także pisze niemal wszystkie teksty, których treść nawiązuje do poetyckiej symboliki, literatury fantasy, a czasem do refleksji nad ludzką naturą i historią.<br><p></p>
                    W rezultacie Nightwish stał się jednym z najbardziej rozpoznawalnych przedstawicieli gatunku, inspirując kolejne pokolenia zespołów łączących metal z muzyką klasyczną. Ich dyskografia obejmuje już kilkanaście albumów studyjnych, przy czym każdy z nich pokazuje ewolucję brzmienia — od bardziej surowych, gotyckich początków aż po wielowarstwowe, orkiestrowo-epickie produkcje najnowszych wydawnictw. Dzięki temu, a także dzięki wszechstronnym wokalistkom, Nightwish z powodzeniem zachowuje świeżość i oryginalność, jednocześnie pozostając wiernym swoim symfonicznym korzeniom.
                    </p>
                    <div class="paragraph-break"></div>
                </section>
                <section>
                    <h2>Obecny skład zespołu</h2>
                    <div class="center-img">
                        <img src="sklad.jpg" alt="Nightwish" style="max-width: 605px; width: 100%; border-radius: 10px;">
                        <p class="img-source">źródło: terazmuzyka.pl</p>
                    </div>
                    <ul>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Tuomas_Holopainen" target="_blank">
                                Tuomas Holopainen
                            </a> – klawisze, instrumenty klawiszowe, główny kompozytor
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Floor_Jansen" target="_blank">
                                Floor Jansen
                            </a> – wokal
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Emppu_Vuorinen" target="_blank">
                                Emppu Vuorinen
                            </a> – gitara
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Marco_Hietala" target="_blank">
                                Marco Hietala
                            </a> – bas, wokal
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Troy_Donockley" target="_blank">
                                Troy Donockley
                            </a> – instrumenty folkowe
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Jukka_Nevalainen" target="_blank">
                                Jukka Nevalainen
                            </a> – perkusja
                        </li>
                    </ul>
                </section>
            </div>
            <div class="right-column">
                <aside class="ranking">
                    <h2>Osobisty ranking utworów</h2>
                    <ol>
                        <li>Ghost Love Score</li>
                        <li>Nemo</li>
                        <li>Ever Dream</li>
                        <li>Storytime</li>
                        <li>Amaranth</li>
                        <li>Wish I Had an Angel</li>
                        <li>Sleeping Sun</li>
                        <li>Dark Chest of Wonders</li>
                        <li>Élan</li>
                        <li>Last Ride of the Day</li>
                        <li>End of All Hope</li>
                        <li>She Is My Sin</li>
                        <li>Planet Hell</li>
                        <li>7 Days to the Wolves</li>
                        <li>Bye Bye Beautiful</li>
                        <li>Poet and the Pendulum</li>
                        <li>Gethsemane</li>
                        <li>Walking in the Air</li>
                        <li>Wishmaster</li>
                        <li>Dead to the World</li>
                    </ol>
                </aside>
                <aside class="discography">
                    <h2>Dyskografia</h2>
                    <ol>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Angels_Fall_First" target="_blank">
                                Angels Fall First (1997)
                            </a>
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Oceanborn" target="_blank">
                                Oceanborn (1998)
                            </a>
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Wishmaster" target="_blank">
                                Wishmaster (2000)
                            </a>
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Century_Child" target="_blank">
                                Century Child (2002)
                            </a>
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Once_(album_Nightwish)" target="_blank">
                                Once (2004)
                            </a>
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Dark_Passion_Play" target="_blank">
                                Dark Passion Play (2007)
                            </a>
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Imaginaerum" target="_blank">
                                Imaginaerum (2011)
                            </a>
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Endless_Forms_Most_Beautiful" target="_blank">
                                Endless Forms Most Beautiful (2015)
                            </a>
                        </li>
                        <li>
                            <a href="https://pl.wikipedia.org/wiki/Human._:II:_Nature." target="_blank">
                                Human. :II: Nature. (2020)
                            </a>
                        </li>
                    </ol>
                </aside>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <span class="footer-title"><strong>Przykładowa strona fanowska</strong></span>
            </div>
            <div class="footer-right">
                <p class="footer-stack-desc">
                    Wykorzystane języki programowania: HTML + CSS
                </p>
            </div>
        </div>
        <hr class="footer-hr">
        <div class="footer-bottom">
            Projekt i realizacja: Patryk Wójcik 125572 © 2025 Społeczna Akademia Nauk w Łodzi
        </div>
    </footer>
</body>
</html>